@import "tailwindcss";

body{
  background-color: #dadada;
  overflow-x: hidden;
  color:#1c1c1c;
}


#taskList::-webkit-scrollbar {
  display: none;
}
.date-input::-webkit-calendar-picker-indicator {
  display: none;
}

/* Modern Dark Scrollbar */

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #374151; /* gray-700 */
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4b5563; /* gray-600 */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #374151 transparent;
}


